@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&family=Poppins:wght@300&display=swap");

:root {
  --mainColor: #48b1d8;
  --colorOne: #ffffff;
  --colorTwo: #1a1a1a;
  --fixedNav: #b4b4b4;
}

* {
  margin: 0;
  box-sizing: border-box;
}
/*Global Properties*/

html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat";
  color: var(--colorTwo);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--mainColor);
}
.section-h1 {
  position: relative;
  display: inline-block;
  font-size: 35px;
}
.section-h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--mainColor);
}
hr {
  width: 80%;
  margin: auto;
}
/*Added class to js*/
.fixed-nav {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 3rem;
  z-index: 1;
  color: var(--mainColor);
}

/*Side scroll bar*/

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*
==============
navbar
==============
*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  height: 3rem;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
}
.nav-h1-span {
  color: var(--colorOne);
}
.link {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.link li {
  padding: 0.5em 1em;
  font-weight: bold;
  cursor: pointer;
}
.link li a {
  position: relative;
}
.link li:hover a {
  color: var(--colorOne);
}
.link li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: -2px;
  left: 0;
  background-color: var(--colorOne);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.link li:hover a::after {
  width: 100%;
}

/* Nav toggle burger menu*/
.burger {
  display: none;
  width: fit-content;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.burger .bars {
  height: 3px;
  width: 20px;
  background-color: var(--colorOne);
  margin: 5px 0;
}
/*
==============
Banner
==============
*/
.banner {
  background-image: url("./images/yan.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 30%;
}
.banner-container {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}
.banner-text {
  color: var(--colorOne);
}
.banner-text h1 {
  margin-left: 10em;
}
/*
==============
Banner
==============
*/
.about {
  text-align: center;
  padding: 2em;
  margin: 1em 0;
  height: 95vh;
}
.about-container {
  display: grid;
  place-items: center;
}
.about-container p {
  padding: 1em;
  line-height: 1.5em;
  font-size: 20px;
  width: 70%;
}
.grid {
  display: grid;
  grid-template-columns: 35% auto;
  width: 100%;
  padding: 1em 0;
  align-items: center;
  gap: 1em;
  justify-content: center;
}
.my-img {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.my-img img {
  width: 300px;
  border-radius: 50%;
}
.details {
  display: flex;
  grid-template-columns: auto auto;
  height: 100%;
}
.column {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.details-text {
  display: flex;
}
.right-arrow {
  width: 20px;
  height: 20px;
}
.details-text p {
  color: var(--colorTwo);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 1em;
}
.details-text p span {
  color: var(--mainColor);
}
.show-cv {
  padding: 10px 20px;
  border: none;
  background-color: var(--mainColor);
  color: var(--colorOne);
  border-radius: 10px;
  cursor: pointer;
  margin: 1em;
}
.show-cv:hover {
  background-color: var(--colorTwo);
}
/*
===========
Services
===========
*/
.services {
  display: grid;
  place-items: center;
  margin-top: 2em;
}
.services-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2em;
}
.card {
  display: grid;
  place-items: center;
  box-shadow: 0px 0px 5px 2px var(--fixedNav);
  border: 1px solid transparent;
  margin: 1em;
  width: 400px;
  height: 350px;
  border-radius: 20px;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card h1 {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 25px;
}
.card p {
  font-size: 20px;
  width: 90%;
  height: fit-content;
}
.card:hover {
  box-shadow: none;
  border: 1px solid var(--mainColor);
}
.card:hover img {
  filter: hue-rotate(180deg);
}
.card:hover h1 {
  color: var(--mainColor);
}
.card img {
  width: 100px;
}

/*
============
Contacts
============
*/
.contacts {
  padding-top: 2em;
  display: grid;
  place-items: center;
  align-items: center;
  background-color: var(--fixedNav);
}
.contacts-container {
  padding: 2em 1em;
  height: fit-content;
  width: 80%;
}
.form-container {
  background-color: var(--colorTwo);
  height: 100%;
  margin: auto;
  padding: 2em;
  border-radius: 20px;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 1em 0;
  text-align: center;
}
.row {
  display: grid;
  grid-template-columns: 50% auto;
  width: 50%;
  margin: 0.5em 0;
}
.row-center {
  display: grid;
  place-items: center;
}
label {
  color: var(--colorOne);
  margin-right: 10px;
}
input {
  padding: 0.5em 1em;
  font-size: 20px;
  border: 1px solid #2e2e2e;
  background-color: transparent;
  border-radius: 10px;
  caret-color: var(--colorOne);
  color: var(--mainColor);
}
input:focus {
  outline: var(--mainColor);
}
.message {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message textarea {
  background-color: transparent;
  outline: none;
  border: 1px solid #2e2e2e;
  caret-color: var(--colorOne);
  font-size: 20px;
  color: var(--mainColor);
  padding: 16px;
  margin: 1em;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.message textarea:hover {
  outline: var(--mainColor);
}
input:focus {
  border: 1px solid var(--colorOne);
}
::placeholder {
  text-align: center;
}
.submit-btn {
  width: fit-content;
  padding: 0.5em 1em;
  align-self: center;
  cursor: pointer;
  background-color: var(--mainColor);
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.submit-btn:hover {
  background-color: var(--colorTwo);
  color: var(--colorOne);
  border: 1px solid var(--colorOne);
}
/*
=====
footer
=====
*/
footer {
  height: 150px;
  background-color: var(--colorOne);
  display: grid;
  place-items: center;
}
footer h1 {
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width:600px) {
  .section-h1 {
    font-size: 20px;
  }
  /*
  =====navbar
  */
  .link-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 48px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .link {
    display: flex;
    flex-direction: column;
  }
  .burger {
    display: block;
  }
  /*Banner*/
  .banner-text h1 {
    margin-left: 0;
    text-align: center;
  }
  /*About*/
  .about {
    text-align: center;
    padding: 1em;
    margin: 0.5em 0;
    height: fit-content;
  }
  .about-container p {
    padding: 0.5em;
    font-size: 15px;
    width: 100%;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .grid {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    gap: 2em;
  }
  .my-img {
    display: flex;
    flex-direction: column;
  }
  .my-img img {
    width: 200px;
  }
  .details {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }
  .right-arrow {
    display: none;
  }
  /*Services*/

  .services-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }
  .card {
    margin: 1em;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 1em 0;
  }
  .card p,
  .card h1 {
    font-size: 15px;
    margin: 0.5em 0;
  }
  /*Contact*/

  .contacts-container {
    padding: 2em 0.5em;
  }
  .form-container {
    padding: 1em;
  }
  .row,
  .row-center,
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .row {
    width: 100%;
    text-align: center;
  }
  label,
  input,
  ::placeholder {
    font-size: 15px;
    text-align: center;
  }
  footer h1 {
    font-size: 15px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /*About*/
  .about-container p {
    font-size: 20px;
    width: 100%;
  }
  .about {
    height: fit-content;
  }
  .about-container,
  .grid,
  .my-img,
  .services,
  .services-container,
  .contacts,
  .row-center {
    display: flex;
    flex-direction: column;
  }

  .my-img img {
    width: 400px;
  }
  .details {
    display: grid;
    grid-template-columns: auto auto;
  }
  /*Contacts*/

  .contacts-container {
    padding: 1em;
    height: fit-content;
    width: 90%;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /*About*/
  .about-container p {
    width: 85%;
  }
  .details {
    display: flex;
    /* grid-template-columns: auto auto; */
    height: 100%;
  }
  /*Contacts*/
  .services-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
  }
  .card {
    width: fit-content;
  }
  .row-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
  }
}
